

.Whitesails_main_img {
	animation: fadeInRight 1.5s ease-out forwards;
}



@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



.cd_section_1_text{


position: relative;
	&:after{
		content:"";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 100;
		animation: textShrink 0.7s 0.3s linear forwards;
	}
}


@keyframes textShrink {


	0% {
		height: 100%;
	}

	100% {

		height: 0%;
	}
}

.cd_section_1_title {

	position: relative;

	&:after{
		content:"";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 100;
		animation: textShrinkTittle 0.5s 0.8s linear forwards;
	}
}

@keyframes textShrinkTittle {


	0% {
		width: 100%;
	}

	100% {

		width: 0%;
	}
}




 .home_dots {
	    position: relative;
    display: inline-block;
    padding: 0.8em 6em 0.8em 3em;
    cursor: pointer;
    overflow: hidden;
    background-color: #FEF6E7;
    transition: all .4s;
	 
	 svg {
	 	    overflow: hidden;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    transition: all .3s;
  	opacity: 0;
	 }

	 .right_dot_arrow,.left_dot_arrow,.left_dot_hover {
	    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
    transition: all .3s;
    width: 29px;
    height: 2px;
    opacity: 0.4;
	 }

	 .left_dot_arrow {

	 }

	 &:hover {
	 	background-color:#fff;

	 	.right_dot_arrow {
	 		opacity: 0;
	 	}

	 	svg {
	 		opacity: 1;
	 	}
	 }
 	

	 .p_right  {
	 	padding-right: 15px;
	 }
}





 .home_dots:before, .home_dots:after {
	 content: "";
	 position: absolute;
	 left: 0;
	 height: 2px;
	 width: 100%;
	 background-color: transparent;
}
 .home_dots:before {
	 top: 0;
}
 .home_dots:after {
	 bottom: 0;
}
 .home_dots:hover > * > *:before, .home_dots:hover > * > *:after {
	 transform: translate3d(0, 0, 0);
}
 .home_dots:hover > * > * > *:before, .home_dots:hover > * > * > *:after {
	 transform: translate3d(0, 0, 0);
}
 .home_dots > *:before, .home_dots > *:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 height: 100%;
	 width: 2px;
	 background-color: transparent;
}
 .home_dots > *:before {
	 left: 0;
}
 .home_dots > *:after {
	 right: 0;
}
 .home_dots > * > *:before, .home_dots > * > *:after {
	 content: "";
	 position: absolute;
	 left: 0;
	 z-index: 9;
	 height: 2px;
	 width: 100%;
	 background-color: #2C3E50;
}
 .home_dots > * > *:before {
	 top: 0;
	 transform: translate3d(-105%, 0, 0);
	 transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 .home_dots > * > *:after {
	 bottom: 0;
	 transform: translate3d(105%, 0, 0);
	 transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 .home_dots > * > * > *:before, .home_dots > * > * > *:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 z-index: 9;
	 height: 100%;
	 width: 2px;
	 background-color: #2C3E50;
}
 .home_dots > * > * > *:before {
	 left: 0;
	 transform: translate3d(0, 105%, 0);
	 transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 .home_dots > * > * > *:after {
	 right: 0;
	 transform: translate3d(0, -105%, 0);
	 transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}


.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          z-index:9999;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #615F61;
}

.cursor-dot-outline {
  width: 50px;
  height: 50px;
  border: 1.5px solid #615F61;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;


  	.slider_cursor {

  		height: 80%;
  		width: 80%;
  		object-fit: contain;
  		opacity: 0;
  		visibility: hidden;
  		transition: all .4s;
  		display: none;

  	}
  	.drag_hover {
  			height: 100%;
  		width: 100%;
  		object-fit: contain;
  		opacity: 0;
  		visibility: hidden;
  		transition: all .4s;
  		display: none;
  	}

 	&.hide_for_drag {
 		border-color: transparent;

 		.drag_hover {
  			opacity: 1;
  			visibility: visible;
  			display: block;
  		}



  			& ~ .cursor-dot {
  				display: none;
  			}
 	}

  	&.hide {
  		border-color: transparent;

  		.slider_cursor {
  			opacity: 1;
  			visibility: visible;
  			display: block;
  		}



  			& ~ .cursor-dot {
  				display: none;
  			}
  	}

  	&.hide_rotate {
  		border-color: transparent;

  		.slider_cursor {
  			opacity: 1;
  			visibility: visible;
  			display: block;
  			transform: rotate(180deg);
  		}



  			& ~ .cursor-dot {
  				display: none;
  			}
  	}


}

.fixed_navigation ul li a:last-child span {

	/*box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);*/
	transform: scale(1);
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(242,126,94, 0.9);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 12px rgba(242,126,94, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(242,126,94, 0);
	}
}