

.Whitesails_main_img {
	animation: fadeInRight 1.5s ease-out forwards;
}


body {
	overflow: hidden;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



.cd_section_1_text{


position: relative;
	&:after{
		content:"";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 100;
		animation: textShrink 0.7s 0.3s linear forwards;
	}
}


@keyframes textShrink {


	0% {
		height: 100%;
	}

	100% {

		height: 0%;
	}
}

.cd_section_1_title {

	position: relative;

	&:after{
		content:"";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 100;
		animation: textShrinkTittle 0.5s 0.8s linear forwards;
	}
}

@keyframes textShrinkTittle {


	0% {
		width: 100%;
	}

	100% {

		width: 0%;
	}
}




 .home_dots {
	    position: relative;
    display: inline-block;
    padding: 0.8em 6em 0.8em 3em;
    cursor: pointer;
    overflow: hidden;
    background-color: #FEF6E7;
    transition: all .4s;
	 
	 svg {
	 	    overflow: hidden;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    transition: all .3s;
  	opacity: 0;
	 }

	 .right_dot_arrow,.left_dot_arrow,.left_dot_hover {
	    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
    transition: all .3s;
    width: 29px;
    height: 2px;
    opacity: 0.4;
	 }

	 .left_dot_arrow {

	 }

	 &:hover {
	 	background-color:#fff;

	 	.right_dot_arrow {
	 		opacity: 0;
	 	}

	 	svg {
	 		opacity: 1;
	 	}
	 }
 	

	 .p_right  {
	 	padding-right: 15px;
	 }
}





 .home_dots:before, .home_dots:after {
	 content: "";
	 position: absolute;
	 left: 0;
	 height: 2px;
	 width: 100%;
	 background-color: transparent;
}
 .home_dots:before {
	 top: 0;
}
 .home_dots:after {
	 bottom: 0;
}
 .home_dots:hover > * > *:before, .home_dots:hover > * > *:after {
	 transform: translate3d(0, 0, 0);
}
 .home_dots:hover > * > * > *:before, .home_dots:hover > * > * > *:after {
	 transform: translate3d(0, 0, 0);
}
 .home_dots > *:before, .home_dots > *:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 height: 100%;
	 width: 2px;
	 background-color: transparent;
}
 .home_dots > *:before {
	 left: 0;
}
 .home_dots > *:after {
	 right: 0;
}
 .home_dots > * > *:before, .home_dots > * > *:after {
	 content: "";
	 position: absolute;
	 left: 0;
	 z-index: 9;
	 height: 2px;
	 width: 100%;
	 background-color: #2C3E50;
}
 .home_dots > * > *:before {
	 top: 0;
	 transform: translate3d(-105%, 0, 0);
	 transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 .home_dots > * > *:after {
	 bottom: 0;
	 transform: translate3d(105%, 0, 0);
	 transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 .home_dots > * > * > *:before, .home_dots > * > * > *:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 z-index: 9;
	 height: 100%;
	 width: 2px;
	 background-color: #2C3E50;
}
 .home_dots > * > * > *:before {
	 left: 0;
	 transform: translate3d(0, 105%, 0);
	 transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 .home_dots > * > * > *:after {
	 right: 0;
	 transform: translate3d(0, -105%, 0);
	 transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
