/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    list-style-type:none;
     border: none;
     text-decoration: none;

}

*:focus {
    outline: none;
}

ul,h1,h2,h3,h4 {
    margin: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    overflow: hidden;
}
*,
html,
html *,
body,
body * {
  cursor: none !important;
}

/*.cursor-dot-outline, .cursor-dot {
    display: none !important;
}

* {
    cursor: default !important;
}*/


.p-top {
    padding-top:80px;
}

.p-all {
     padding: 100px 50px 10px 100px;

     &>div {
        position: relative;
     }
}

.p-all2 {
     padding: 100px 50px 10px 100px;

 
}

.main_link_box_fluid.rotate {

    transform: rotate(180deg);
    margin-left: 13px;

    .main_link_box{

    transform: rotate(180deg);

    a {
        padding: 7px 18px 7px 35px;
    }

    }
}
.common-w {
   
     padding: 10px 100px;

    &>div {
         max-width: 1200px;
    margin:0 auto;
    }
}
::-webkit-scrollbar {
  width: 10px;
}


 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2C3E50; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F47E5E; 
}


