

.about_swipper_wrapper {
  position: relative;


  .swiper_about_button-prev {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 25.5%;
    height: calc(100% - 0px);
  }

    .swiper_about_button-next {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 26.5%;
    height: calc(100% - 0px);
  }


}

.about-container {
  background: white;
  padding: 80px 0 100px;

  .title {
    @include family(notoregular);
    font-size: 70px;
    color: #2c3e50;
    text-align: center;
    text-transform: capitalize;
    padding-top: 5px;

  }

  .about-swiper-container {
    width: 140vw;
    height: 100%;
    margin: 20px auto;
    overflow: hidden;
        transform: translateX(-21vw);

    .swiper-wrapper {
      

      .swiper-slide {
        padding-right: 10px !important;
        padding-left: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        opacity: 0.5;
        transition: 0.4s;

        img {
          width: 100%;
          height: calc(100vh - 250px);
        }
      }

      .swiper-slide-next {
        opacity: 1;
      }
    }
  }

  .about-content {
    color: #2c3e50;
    padding-bottom: 30px;
    margin-left: 27%;
    width: 50%;
    font-size: 16px;
    text-aling:left;

    * {

      @include family(notosans);
      color: $text-color;
      font-size: 16px;
    }

    
    ul {
      color: #2c3e50;
       margin: 10px 0 15px 10px;

      li {
        position: relative;
        background-image: url(../images/bullet.png);
        background-repeat: no-repeat;
        padding-left: 16px;
        background-size: 7px;
        background-position-y: 8px;
      }

      li:not(:last-child):before {
        position: absolute;
        top: 18px;
        left: 3px;
        background-color: #2c3e50;
        content: '';
        z-index: 10;
        width: 2px;
        height: calc(100% - 13px);
      }

      li::after {
        position: absolute;
        top: 3px;
        left: -5px;
        border-radius: 50%;
        border: 2px solid #2c3e50;
        content: '';
        z-index: 10;
        width: 17px;
        height: 17px;
      }
    }
  }
}

.one-page-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: grey;

  section {
    display: flex;
    align-items: center;
  }

  .offer-section {
    display: flex;
    width: 85%;
    margin: 0 auto;

    .offer-text {
      padding: 60px 20px 20px 70px;
      width: 80%;
      background: #f4fafa;

      .offer-title {
        margin-bottom: 30px;
        max-height: 80px;
        overflow: hidden;
        word-break: break-word;

        a {
          color: #2c3e50;
          font-size: 30px;
          text-transform: uppercase;
        }
      }

      p {
        color: #2c3e50;
        font-size: 18px;
        height: 245px;
        overflow: hidden;
      }
    }

    .offer-img {
      max-height: 450px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .offer-section:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .button {
    background-color: #f2cf66;
    border-bottom: 5px solid #d1b358;
    text-shadow: 0px -2px #d1b358;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
  }
}

.one-page-scroll .offer-section:nth-child(even) .offer-text {
  transform: translate(50px, 70px);
}

.one-page-scroll .offer-section:nth-child(odd) .offer-text {
  transform: translate(-50px, 70px);
}


#fullpage {
    .section {
      position: relative;


      .about_menu {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2000;
        display: flex;
        flex-direction: column;

        .dot_title {
            position: absolute;
            left: -95px;
            color: #fff;
            background-color: #9ED6CA;
            font-family: "Conv_bpg_algeti", sans-serif;
            top: 50%;
            transform: translateY(-50%) translateX(-10px);
            font-size: 16px;
            padding: 5px 12px;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;



            &:after{
                  content:"";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 100%;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-left: 8px solid #9ED6CA;
                border-bottom: 7px solid transparent;
            }
        }
        &>li {
          margin-bottom: 10px;

             &:first-child {
                display:none !important;
            }
          a {
            display: block;
              width: 20px;
              height: 20px;
              flex: 0 0 20px;
              border-radius: 50%;
              background-color: #fff;
              border:2px solid #F2F2F2;
              position: relative;
            

              &:hover {
                .dot_title {
                  transform: translateY(-50%) translateX(0px);
                  opacity: 1;
                  visibility: visible;
                }
              }


              &:after{

                content:"";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;
                background-color: #9ED6CA;
                border-radius: 50%;
                width: 11px;
                height: 11px;
              } 
          }
        }
      }
    }
    .section:nth-child(2){

      background:#F4FAFA;

      .offer_text_fluid{
            transform: translate(0px, 0px) !important;
      }
    }

    .section:last-child {
       background:#F4FAFA;
    }
    .section:nth-child(odd){

      .offer-section .offer-img{
        order: -1;
      }

      .offer_text_fluid{
            transform: translate(-50px, 50px);
      }

    }
    .offer-container {
      text-align: center;
      margin:20px 0;
      h2 {
        @include family(noto);
        font-size: 80px;
        color: #2C3E50;
      }
    }
}


.offer-section {

  display: flex;
  align-items:center;
  padding: 0 130px 5% 100px;
  max-width: 1250px;
  margin: 0 auto;

  .offer-img {
    flex: 0 0 52%;
    max-width: 52%;

    a {
      display: block;
      width: 100%;
      img {
        width: 100%;
        height: calc(100vh - 300px);
        object-fit: cover;
      }
    }
  }

  .offer_text_fluid {
       background-color: #F4FAFA;
    padding: 34px 40px 35px 40px;
    transform: translate(50px, 50px);
  }


}

.offer_text_fluid {
  background-color: #F4FAFA;
  padding: 60px 40px 40px 60px;


   .offer-title {
        margin-bottom: 20px;
      * {
        color: #2C3E50;
        font-size: 30px;
        @include family(notosans);
      }
   }


   .offer_text {

      * {
        color: #2C3E50;
        font-size: 18px;
        @include family(notosans);
      }
   }
}

.intro {

   height: 100%;
   padding-top: 80px;

   .offer_section_fluid {
    height: 100%;

     .offer-section {
      height: 100%;
     }
   }
}

