


.aparment_fluid {
	
}

.apartment_header {
	display: flex;
	justify-content: space-between;
} 

.common_tab_links {
	margin-top: 10px;
	a {
		@include family(notosans);
		color: #000000;
		font-size: 14px;
		position: relative;

		&:hover{
			text-decoration:underline;
		}

		&:not(:last-child){
			margin-right: 20px;
			&:after{
				background-image: url(../images/right-arrow.png);
			    content: "";
			    position: absolute;
			    top: 50%;
			    right: -19px;
			    transform: translateY(-50%);
			    z-index: 10;
			    width: 15px;
			    height: 11px;
			    background-size: contain;
			    background-position: center center;
			    background-repeat: no-repeat;
			}
		}
	}
}


.common_tab_links {
	margin-top: 5px;


 }

 .apartment_title {

 	h3 {
 	font-size: 80px;
 	@include family(notosans);
 	color: #000000;

 	}
 }

 .apartment_up_box {
 	display: flex;
 	width: 100%;
 	&>div {


 		&:first-child{
 			flex:0 0 45%;
 			max-width: 45%;
 		}

 		&:last-child{
 			flex-grow: 1;
 		}
 	}
 }

 .apartemtn_left_svg {

 	height: calc(100vh - 300px);

 	img {
 		width: 100%;
 		height: 100%;
 		object-fit: contain;
 	}
 }

 .pdf_link {
 	display: flex;
 	 a {

 	 	display: flex;
 	 	align-items: center;
 	 	background-color: #F2F2F2;
 	 	color: #1E1E1E;
 	 	@include family(notosans);
 	 	padding: 10px 80px 10px 20px;

 	 	img {
 	 		height: 29px;
 	 		object-fit: contain;
 	 		margin-right: 10px;
 	 	}
 	 }
 }


.apartment_up_box {
	margin-top: 50px;
}

.apartment_right_content {

	.apartment_right_title,.apartment_order_title {
		display: inline-block;
		padding-bottom: 11px;
		border-bottom: 1px solid #F2F2F2;

		* {
			@include family(noto);
			color: #1E1E1E;
			font-size: 30px;
		}
	}

	.apartment_right_list {
		margin: 20px 0;
		ul {

			li {
				color: #1E1E1E;
				@include family(notosans);
				font-size: 16px;
			}
		}
	}

	.apartment_order_form {
display:flex;
flex-wrap: wrap;
justify-content: space-between;
width: 100%;
max-width: 430px;
margin-top: 20px;

select,input {
	border-bottom: 1px solid #5E5E5E;
	width: 100%;
	padding: 10px;
	height: 100%;
}
&>div{
	flex: 0 0 48%;
	max-width: 48%;
	margin-bottom: 15px;
}
		* {
			color: #5E5E5E;
			@include family(notosans);
				font-size: 16px;

		}


	}

	.antique_button {

		button {
			border: none;
			outline: none;
		background-color: #FDEAE3;
		    padding: 13px 54px;
		transition: all .2s;
		cursor: pointer;

		&:hover {
			background-color:#F47E5E;
			color: #fff;
		}


		}
	}

	.input_name {
		flex: 0 0 57% !important;
    max-width: 56% !important;

	}

	.antique_button {
		flex:unset !important;
	}

} 


.mobile_col{

	position: relative;

	&:after{
		    content: '+995';
    position: absolute;
    display: block;
    left: 7px;
    top: 25px;
    transform: translateY(-50%);
    font-family: "Conv_dejavu-sans", sans-serif;
    color: #707070;
	}
	input {
		padding-left: 50px !important;
	}
}


.aparment_advantage_fluid {

	width: 100%;
	overflow: hidden;
	margin: 50px 0;

}

/*.aparment_advantage_fluid,.similar_aparment_fluid {
	display: none;
}
*/
.similar_aparment_fluid {
	margin: 30px auto;
    .similar_ap_title {


         h3 {
		 	font-size: 80px;
		 	@include family(noto);
		 	color: #2C3E50;

       
    }
}
}

.similar_ap_container {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	    padding: 0px 45px;
	&>div {
		flex: 0 0 32%;
		max-width: 32%;

		&>a {

			width: 100%;
			display: block;
			height: 230px;
			position: relative;
			overflow: hidden;
			&:after{
			position: absolute;
		    bottom: 0;
		    height: 23%;
		    width: 100%;
		    left: 0;
		    content: "";
		    z-index: 1;
		    background-image: linear-gradient(to top, rgba(255,255,2555,.8), rgba(255, 255, 255, 0));
			}

			.similar_position {
				position: absolute;
				bottom: 10px;
				right: 20px;
				z-index: 0;
				display: flex;
				align-items: center;
				z-index: 100;

				* {
					color: #1E1E1E;
					font-size: 14px;
					@include family(notosans);
				}

				span:first-child {
					margin-right: 20px;
					position: relative;

					&:after{
					width:0px;
					height: 1px;
					background-color: #000;
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: calc(100% + 10px);
					transition: all .4s;

					}
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all .4s;
			}
		}

	}

.similiar_img_title {
	    display: flex;
    justify-content: space-between;
    padding: 10px 5px;

	a {
		color: #000000;
		@include family(notosans);
		font-size: 24px;
		border-bottom: 1px solid #F2F2F2;
		padding-bottom: 4px;
	}

	span {
		@include family(notosans);
		font-size: 24px;
		color: #fff;
		transition: all .4s;
  		 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
}
}

.similar_ap_box {
	border-bottom: 1px solid transparent;
	transition:all .4s;
	&:hover{

		border-bottom:1px solid #000000;

		&>a {
			img {
				transform: scale(1.05);
			}
		}

		.similar_position {

			span:first-child:after{
				width:45px;
			}
		}

		.similiar_img_title {
			a{
			border-color: transparent;
		}

		span {

			text-shadow: unset;
			color: #000;
		}

	}
	}

	

	
}



.gallery_wrapper {
		width: 60%;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.gallery_container {


	

	&.grid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

}

.grid-item {
	width: 32%;

	&>a>img {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	a {
		display: block;
		width: 100%;
		margin-bottom: 10px;

		img {
			width: 100%;
			transition: all .5s;
		}
	}
}
}

.blog_box a {

	position: relative;
	overflow: hidden;
}

.blog_box:hover {

	&>a>img {
		transform:  matrix(1.1, 0, 0, 1.1, 0, 0);
	}
}

.gallery_title {
	margin: 10px 0;
	* {

    font-size: 80px;
    @include family(noto);
    color: #2C3E50;
	}
}

.blog_box a div {
    position: absolute;
    background: #333;
    background: rgba(244, 126, 94, .8);
    width: 100%;
    height: 100%;
}


.masorny_hover {
    display: flex;
    align-items: center;
    justify-content: center;


    img {
        width: 40%;
        height: 40%;
        object-fit: contain;
    }
}


.btn-4 {
 
  overflow: hidden;
  position: relative;
  
  span {
    z-index: 20;
    position: relative;

    &:after{
    	position:absolute;
    	content: "";
    	top: 50%;
    	transform: translateY(-50%);
    	left: calc(100% + 15px);
	    background: #000;
	    width: 39px;
	    height: 1px;
    }
  }
  
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 1;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
  }
}

.btn-4:hover {
  
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.interior_inner_fluid {
		.grid-item {
		width: 23.5%;
	}
	.interior_masorny {
		margin-top: 40px;
	}
}

.interior_fluid {
	    padding: 80px 0px 0px 0px;
	    height: 100vh;
	    overflow: hidden;

	.grid-item {
		width: 23.5%;
	}

	
.slick-slide  {

	img {
		opacity: 0.6;
		transition: all .4s;
	}
}
}



.interios_slider .slick-current + .slick-active{

	img {
		opacity: 1;
	}
}


.interios_slider {

	width: calc(100vw + 100px);
    height: calc(100vh - 177px);
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 0;

    .slick-dots {
    position: absolute;
    width: 100vw;
    bottom: 15px;

    li {
    	background-color: #DCDCDC;
    	width: 20px;
    	height: 8px;
    	transition: all .2s;
    	margin: 0;
    	button {
    		text-indent: -9999px;
    	}

    	&.slick-active {
    		background: #73CABE;
    		width: 40px;
    	}
    }
	}

    .slick-track {
    	height: 100%;
    }
	figure {


		height: 100%;
		width: 100%;
		margin-right:10px;

		a {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;

			.masorny_hover {
				 background: rgba(244, 126, 94, 0.8);
		   	width: 100%;
		    height: 100%;
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    width: 80px;
		    height: 80px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    transform: scale(0);
		    transition: all .4s;

		    img {
		    	width: 40%;
		    	height: 40%;
		    	object-fit: contain;
		    }

		   
			}

			 &:hover{

		    	.masorny_hover{
		    		transform:scale(1);
		    	}
		    }
		}

			img {
				width:100%;
				height: 100%;
				object-fit: cover;
			}
		
	}
}

.interior_slider_box {
	position: relative;
}
    .interior_slider_left {
    background: #fff;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 27%;
        height: calc(100% - 48px);
    opacity: 0;
    }

    .interior_slider_right {
   
   
    position: absolute;
    top: 0;
   right: 0;
    width: 46%;
    z-index: 1;
        height: calc(100% - 48px);
    opacity: 0;
    }