


.aparment_fluid {
	
}

.apartment_header {
	display: flex;
	justify-content: space-between;
} 

.common_tab_links {

	a {
		@include family(notosans);
		color: #000000;
		font-size: 14px;
		position: relative;

		&:hover{
			text-decoration:underline;
		}

		&:not(:last-child){
			margin-right: 20px;
			&:after{
				background-image: url(../images/right-arrow.png);
			    content: "";
			    position: absolute;
			    top: 50%;
			    right: -19px;
			    transform: translateY(-50%);
			    z-index: 10;
			    width: 15px;
			    height: 11px;
			    background-size: contain;
			    background-position: center center;
			    background-repeat: no-repeat;
			}
		}
	}
}


.common_tab_links {
	margin-top: 5px;


 }

 .apartment_title {

 	h3 {
 	font-size: 80px;
 	@include family(noto);
 	color: #000000;

 	}
 }

 .apartment_up_box {
 	display: flex;
 	width: 100%;
 	&>div {


 		&:first-child{
 			flex:0 0 45%;
 			max-width: 45%;
 		}

 		&:last-child{
 			flex-grow: 1;
 		}
 	}
 }

 .apartemtn_left_svg {

 	height: calc(100vh - 300px);

 	img {
 		width: 100%;
 		height: 100%;
 		object-fit: contain;
 	}
 }

 .pdf_link {
 	display: flex;
 	 a {

 	 	display: flex;
 	 	align-items: center;
 	 	background-color: #F2F2F2;
 	 	color: #1E1E1E;
 	 	@include family(notosans);
 	 	padding: 10px 20px;

 	 	img {
 	 		height: 29px;
 	 		object-fit: contain;
 	 		margin-right: 10px;
 	 	}
 	 }
 }


.apartment_up_box {
	margin-top: 50px;
}

.apartment_right_content {

	.apartment_right_title,.apartment_order_title {
		display: inline-block;
		padding-bottom: 11px;
		border-bottom: 1px solid #F2F2F2;

		* {
			@include family(noto);
			color: #1E1E1E;
			font-size: 30px;
		}
	}

	.apartment_right_list {
		margin: 20px 0;
		ul {

			li {
				color: #1E1E1E;
				@include family(notosans);
				font-size: 16px;
			}
		}
	}

	.apartment_order_form {
display:flex;
flex-wrap: wrap;
justify-content: space-between;
width: 100%;
max-width: 430px;
margin-top: 20px;

select,input {
	border-bottom: 1px solid #5E5E5E;
	width: 100%;
	padding: 10px;
	height: 100%;
}
&>div{
	flex: 0 0 48%;
	max-width: 48%;
	margin-bottom: 15px;
}
		* {
			color: #5E5E5E;
			@include family(notosans);
				font-size: 16px;

		}


	}

	.antique_button {

		button {
			border: none;
			outline: none;
		background-color: #FDEAE3;
		    padding: 13px 54px;
		transition: all .2s;
		cursor: pointer;

		&:hover {
			background-color:#F47E5E;
			color: #fff;
		}


		}
	}

	.input_name {
		flex: 0 0 57% !important;
    max-width: 56% !important;

	}

	.antique_button {
		flex:unset !important;
	}

} 


.mobile_col{

	position: relative;

	&:after{
		    content: '+995';
    position: absolute;
    display: block;
    left: 7px;
    top: 25px;
    transform: translateY(-50%);
    font-family: "Conv_dejavu-sans", sans-serif;
    color: #707070;
	}
	input {
		padding-left: 50px !important;
	}
}