

.main_btn {
  
 
  color: #1E1E1E;
  @include family(notoregular);
  font-size: 12px;
  background-color: #F2F2F2;
  outline: none;
  padding: 7px 35px 7px 18px;
  position: relative;
  display: block;
  &:after{
  	    content: "";
    background-color: #FFD393;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -97px;
    right: -94px;
    z-index: 1;
 
    transition: all .5s;
  }

&:hover:after{
	    width: 187px;
    height: 156px;
	top: -61px;
    right: -28px;
}
 span {
	position: relative;
	z-index: 100;
}

}

.main_link_box_fluid:hover .main_btn:after {
   width: 187px;
    height: 156px;
	top: -61px;
    right: -28px;

}
.main_link_box {
	overflow: hidden;
	display: inline-block;
}


.cd-section>div {
	padding-top: 80px;
	height: 100%;
}


.main_link_box_fluid {
	    position: relative;
    display: inline-block;
    height: 32px;
	.main_btn_arrow {
	position: absolute;
    top: 50%;
    transform: translate(0px,-50%);
    right: -9%;
    z-index: 4;
    transition: all .3s;
    cursor: pointer;
}
	
	&:hover{

		img {
			transform: translate(2px,-50%);
		}
	}

}
.home_about_slider {
	display: block;
}

.cd_section_1_fluid {
	display: flex;
	height: 100%;

	&>div {
		flex-grow: 1;
		&:first-child {
		flex: 1 0 45%;
    max-width: 45%;
    padding: 1% 0% 1% 6%;
    position: relative;
    z-index: 10;
		}
	}

	.cd_section_left {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding-bottom: 11%;
    transform: translateX(6%);

	}

	.cd_section_1_title {

		h2,a {
			font-size: 80px;
			@include family(notoregular);
			color: $text-color;
			white-space: nowrap;
		}
	}

	.cd_section_1_text {
		max-width: 80%;
		width: 100%;
		p {

			@include family(notosans);
			font-size: 16px;
			color: $text-color;
		}
	}
}

.Whitesails_main_img {
	padding-top: 3%;

	 img {
	 	    width: auto;
		    height: calc(100vh - 45px);
		    display: block;	
	 }
}


.main_about_swipper {
	height: calc(100vh - 300px);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home_about_slider {

	.swiper-slide {

		a {
			display: block;
			height: calc(100vh - 200px);
			img {
				height: 100%;
			}
		}
	}
}


/*.slick-list{padding:0 100px 0 0;}*/

/*.slick-slide {
  margin: 0 20px;
}*/

/*.slick-slide {
    margin: 0 10px;
}
 
.slick-list {
    margin: 0 -10px;
}*/

.Whitesails_main_about_right_fluid {
display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 44%;
    width: 100vw;
    z-index: 10;
    .slick-slide{
	padding:0 0.5% 0 0;
}
.slick-track{


   /* display: unset;
    margin-left: unset;
    margin-right: unset;*/
}
    .slick-list {
	width: 100vw;
}

.slick-slide img{
	width: 100%;height: 100%;
	object-fit: cover;
}
}







.home_about_slider {
	width: 100%;
	height: calc(100vh - 250px);

	.slick-list {
		height: inherit;

		.slick-track {
			height: inherit;

			figure {
				height: inherit;


			}
		}
	}
}

.right_dot {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 2000;
}
.left_dot {
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 2000;
}

/*cursor: url(../../svg/zoom.cur), auto*/

.Whitesails_main_about_right_fluid .slick-slide img:hover{
	cursor: url(../images/slider_arrow.png), auto;
}
.cd-vertical-nav {
	display: none;
}
.home_about_trigger_left {
	position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
    background-color: transparent;
    z-index: 22;

    &:hover{
    	cursor: url(../images/slider_left.png) 10 10, auto;
    }
}

.home_about_trigger_right {
	position: absolute;
    top: 0;
    left: 33%;
    width: 33%;
    height: 100%;
    background-color: transparent;
    z-index: 22;

     &:hover{
    	cursor: url(../images/slider_right.png) 45 12, auto;
    }

}

.home_dots.left_dot {
	padding: 0.8em 3em 0.8em 6em;
}
.home_dots.left_dot svg {
	    left: 22px;
}

.home_dots .left_dot_arrow {
	    left: 22px;
}

.left_dot_hover {
	left: 22px;
    height: 19px !important;
    width: 29px !important;
    object-fit: contain;
    opacity: 0 !important;
}
.left_dot:hover {
	.left_dot_hover {
		opacity: 1 !important;
	}
	.left_dot_arrow {
		opacity: 0;
	}


}
/*.slick-slide {
	transition: all .4s;
	transform: scale(0.5);
	
}*/

/*.slick-active {

	transform: scale(1);
}*/

.cd-section-infrastruqture {

	background-color: #F4FAFA;
	padding: 100px 130px 100px 200px;
}

.infrastruqture_slider  {
	margin-top: 80px;
	height: calc(100vh - 300px);
	.slide-inner {
	display: flex;
	justify-content: space-between;
}

	.swiper-slide {
		display: flex;
		justify-content: space-between;
		.infrastucture_slider_img {
		width: 30%;
		max-width: 30%;
	a {
		display: block;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

}

}


