


@media only screen and (max-width: 1200px) {
	.cd_section_1_title h2, .cd_section_1_title a{
		font-size: 60px;
	}

	.infrastruqture_text .inf_text * {
		font-size: 14px;
	}

	.infrastruqture_text h3 {
		font-size: 60px;
	}

	.nav__content .header_slider_fluid {
    padding: 0px 70px 15px 60px;
}

.nav__list li:nth-child(1) a,.nav__list li:nth-child(2) a,
.nav__list li:nth-child(3) a {
	font-size: 48px;
}
.header_right_content  {
	right: 15px;
}
.tel_info {
	display: none;
}
.header_call a {
	padding: 6px 5px;
}

.menu-icon {
	left: 15px;
}
.header_slider_fluid {
	display: none;
}
.nav__content > div {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
}
.nav:after {
    background:#F4FAFA;
    
}

.header_social {
	    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

}




@media only screen and (max-width: 992px) {

.cd-section {
	position: unset !important;
	transform: unset !important;

	&>div {
	position: unset !important;
	padding-top: 0;
	transform: unset !important;
	}
}

.news-container {
	
	padding: 0 0 20px 0;
}

.header_languages {
	margin-left: 0;
}

.nav__list li:nth-child(1) a,.nav__list li:nth-child(2) a,
.nav__list li:nth-child(3) a {
	font-size: 30px;
}
.nav__list-item {
	margin-bottom: 5px !important;
}
.cd_section_1_fluid,.home_aparment_fluid {
	flex-wrap: wrap;
}
.cd_section_1_fluid > div {
    flex: 1 0 100% !important;
    max-width: 100% !important;
    transform: unset !important;
        padding: 1% 0% 1% 3% !important;
   
}
.cd_section_1_title h2, .cd_section_1_title a {
    font-size: 38px;
}
.Whitesails_main_img img {
    height: calc(100vh - 236px);
    width: 100%;
    object-fit: contain;
}

.fixed_navigation {
	display: none;
}
.cd_section_1_fluid .cd_section_left {
	justify-content: unset;
	padding-bottom: 1%;
	transform: unset;
}
.Whitesails_main_about_right_fluid {
	position: unset;
}

.home_about_trigger_right, .home_about_trigger_left{
	display: none;
}
.home_about_slider {
    width: 100%;
    height: calc(100vh - 341px);
}
.home_aparment_fluid {
	flex: 0 0 100% !important;
	max-width: 100% !important
}
.home_aparment_fluid > div:first-child .cd_section_left {
	display: unset;
}
.cd-section-infrastruqture {
    background-color: #F4FAFA;
    padding: 40px 10px 10px 14px;
}

.infrastruqture_text {
	position: unset;
}
.infrastruqture_text h3 {
    font-size: 35px;
}
.infrastruqture_slider {
   
    height: calc(100vh - 260px);
   
}

.home_advantages_fluid {
	
	padding: 10px 1% 0 10px !important;

	&>div {
		max-width: 100% !important;
		flex: 0 0 100% !important;
	}
}

.home_aparment_fluid {
	display: block;	

	&>div {
		max-width: 100%;
		height: unset !important;
	}
}
.home_apartment_right_fluid {
	position: unset;
}
.home_advantages_fluid .home_advantage_left {
	padding: 0 !important;
}
.home_apartment_right_fluid {
 
    padding-top: 5px;
}

#draggable {
    height: 100%;
    width: 100vw;
}
.home_advantages_fluid .slider_for_box {
	display: block;
}
.home_advantages_fluid .home_advantage_right {
	display: none;
}

.cursor-dot-outline,.cursor-dot {
	display: none;
}
.nav:before, .nav:after {
	top: 79px;
}

.select_aparment_fluid {
	    flex-direction: column;
	height: unset;
	padding: 85px 0px 10px 10px;
	&>div {
		    max-width: 100% !important;
		    flex:0 0 100% !important;
		        margin-top: 10px !important;

		        &:last-child{
		        	order:-1;
		        }
	}


}

	.select_aparment_fluid .home_apartment_right_fluid {
		width: 100%;
		flex-direction: column-reverse;
  		  display: flex;
  		    align-items: flex-start;
	}
.cd_section_1_title h2, .cd_section_1_title a {
	font-size: 24px;
}
.select_aparment_fluid .cd_section_left h2 {
	line-height: unset;
}

.apartment_filter_wrapper {
	margin-bottom: 10px;
}
.common_aparment_tab_fluid {
	position: unset;
}
.select_aparment_fluid #apartments_select_svg {
	width: 100vw;
}
.select_aparment_fluid #apartments_select_svg svg{
	width: 100%;
	margin-bottom: 10px;
}
.aparment_filter_fluid {
    padding: 21px 32px 10px 16px;
    margin-top: 10px;
        max-width: 300px;
    width: unset;
}
.filter_dropdowns {
	flex-wrap: wrap;

	&>div {
	max-width: 100%;
	flex:0 0 100%;
	margin-bottom: 10px;

	}
}

.aparment_filter_fluid .filter_sliders_fluid {
	flex-direction: column-reverse;
	align-items: center;


	&>div {
		    flex: 0 0 100%;
    max-width:100%;
    width: 100%;
	}
	&>div:first-child{
		margin-bottom:12px;
	}
}
.p-all {
    padding: 83px 12px 10px 5px;
}

.contact_title * {
    font-size: 44px;
}
.search_footer .apartment_filter_wrapper {
    margin: 5px 0px;
    padding-left: 8px;
    flex-grow: 1;
}


.home_dots {
    padding: 0.8em 4em 0.8em 2em;

}

.search_footer {
	flex-direction: column-reverse;
	margin-top: 10px;
}


}



@media only screen and (min-width: 992px) {
.header_social.resp {
	display: none;
}
}


@media (min-width: 768px){
	.container {
    max-width: 870px;
}
}
