


@media only screen and (max-width: 1200px) {
	.cd_section_1_title h2, .cd_section_1_title a{
		font-size: 60px;
	}

	.infrastruqture_text .inf_text * {
		font-size: 14px;
	}

	.infrastruqture_text h3 {
		font-size: 60px;
	}

	.nav__content .header_slider_fluid {
    padding: 0px 70px 15px 60px;
}

.nav__list li:nth-child(1) a,.nav__list li:nth-child(2) a,
.nav__list li:nth-child(3) a {
	font-size: 48px;
}
.header_right_content  {
	right: 15px;
}
.tel_info {
	display: none;
}
.header_call a {
	padding: 6px 5px;
}

.menu-icon {
	left: 15px;
}
.header_slider_fluid {
	display: none;
}
.nav__content > div {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
}
.nav:after {
    background:#F4FAFA;
    
}

.header_social {
	    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

}




@media only screen and (max-width: 992px) {

	.nav__content {
	top:80px;
}
.navigation {
    padding: 17px 1% 1% 20px;
}

.nav__list li a {
	font-size: 20px;
}

.cd-section {
	position: unset !important;
	transform: unset !important;

	&>div {
	position: unset !important;
	padding-top: 0;
	transform: unset !important;
	}
}

.news-container {
	
	padding: 0 0 20px 0;
}

.header_languages {
	margin-left: 0;
}
.infrastruqture_slider .swiper-slide .infrastucture_slider_img a .infrastuqture_slider_title {
	font-size: 16px;
}
.infrastruqture_slider {
	height: unset !important;
	padding-bottom: 10px;
	margin-top: 10px;
}

.infrastruqture_slider .slide-inner {
	flex-wrap: wrap;
	
	 &>div:first-child{
	 	width:100% !important;
	 	max-width: 100% !important;
	 	height: 150px;

	 	  
	 	a {
	 		    width: 50%;
    margin: 0 auto;
	 	}
	 }
	
}
.infrastruqture_slider .swiper-slide .infrastucture_slider_img {
height: 150px;
width: 48%;
max-width: 48%;
	margin-bottom: 10px;
}
 .infrastruqture_slider .swiper-slide .infrastucture_slider_img a {

	 	padding: 0;
	 	height: 100%;
	
}

.home_advantages_fluid .slider_for_box .cd_section_left .cd_section_1_title {

	transform: translateY(0) !important;
}

.nav__list li:nth-child(1) a,.nav__list li:nth-child(2) a,
.nav__list li:nth-child(3) a {
	font-size: 30px;
}
.nav__list-item {
	margin-bottom: 10px !important;
}
.cd_section_1_fluid,.home_aparment_fluid {
	display: block;
}
.cd_section_1_fluid > div {
    flex: 1 0 100% !important;
    max-width: 100% !important;
    transform: unset !important;
        padding: 1% 0% 1% 3% !important;
   
}
.cd_section_1_title h2, .cd_section_1_title a {
    font-size: 38px;
}

#home_wrapper .cd-section:first-child {
	background-color: #F4FAFA;
	padding-top: 15px;
}

#home_wrapper .cd-section:last-child {
.home_apartment_right_fluid{
	display: flex;
	flex-direction: column-reverse;
	background-color: #F4FAFA;
	align-items: center;
}
.common_aparment_tab_fluid {
	margin: 10px 0 15px;
}

.draggable {
	width: 190vw;
}


}




.Whitesails_main_img img {
    height:255px;
    width: 100%;
    object-fit: contain;
}

.cd-section {
	height: unset;
}

.fixed_navigation {
	display: none;
}
.cd_section_1_fluid .cd_section_left {
	justify-content: unset;
	padding-bottom: 1%;
	transform: unset;
}
.Whitesails_main_about_right_fluid {
	position: relative;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.home_about_trigger_right, .home_about_trigger_left{
	display: none;
}
.home_about_slider {
    width: 100%;
    height: 230px;

     .slick-list {
    	padding: 0 25% 0 0 !important;
	}
}
.interior_slider_right {
  
    width: 21%;
}
interior_slider_left {
	display: none;
}
.interior_fluid .slick-slide img {
	opacity: 1;
}
.interios_slider figure a .masorny_hover {
	transform: scale(1);
}
.interior_slider_box {

	.interios_slider {
		width: 100%;
	}
	 .slick-list {
    	padding: 0 20% 0 0 !important;
	}
}

.home_about_trigger_left {
 
    width: 54%;
 

}


.home_about_trigger_right {
    left: 55%;
    width: 45%;

}

.home_aparment_fluid {
	flex: 0 0 100% !important;
	max-width: 100% !important
}
.home_aparment_fluid > div:first-child .cd_section_left {
	display: unset;
}
.cd-section-infrastruqture {
    background-color: #F4FAFA;
    padding: 15px 10px 10px 10px !important;
}

.infrastruqture_text {
	position: unset;
}
.infrastruqture_text h3 {
    font-size: 35px;
}
.infrastruqture_slider {
   
    height: calc(100vh - 260px);
   
}

.home_advantages_fluid {
	display: block;
	padding: 10px 1% 0 10px !important;

	&>div {
		max-width: 100% !important;
		flex: 0 0 100% !important;
	}
}

.home_aparment_fluid {
	display: block;	

	&>div {
		max-width: 100%;
		height: unset !important;
	}
}
.home_apartment_right_fluid {
	position: unset;
}
.home_advantages_fluid .home_advantage_left {
	padding: 0 !important;
	height: unset !important;
}
.home_apartment_right_fluid {
 
    padding-top: 5px;
}

#draggable {
    height: 100%;
    width: 100vw;
}
.home_advantages_fluid .slider_for_box {
	display: flex;
	flex-direction: column-reverse;
}
.our_advantage_title {
	display: none;
}

.slider_next_title_box {
	margin-top: 0;
	    flex-direction: column;
    align-items: center;
}
.home_advantages_fluid .slider_next_title {
	margin: 0 0 20px;
	    padding: 13px 42px;
}
.cursor-dot-outline,.cursor-dot,.slider_next_img  {
	display: none !important;
}
.nav:before, .nav:after {
	top: 80px;
}

.select_aparment_fluid {
	    flex-direction: column;
	height: unset;
	padding: 85px 0px 10px 10px;
	&>div {
		    max-width: 100% !important;
		    flex:0 0 100% !important;
		        margin-top: 10px !important;

		        &:last-child{
		        	order:-1;
		        }
	}


}

	.select_aparment_fluid .home_apartment_right_fluid {
		width: 100%;
		flex-direction: column-reverse;
  		  display: flex;
  		    align-items: flex-start;
	}
.cd_section_1_title h2, .cd_section_1_title a {
	font-size: 24px;
}
.select_aparment_fluid .cd_section_left h2 {
	line-height: unset;
}

.apartment_filter_wrapper {
	margin-bottom: 10px;
}
.common_aparment_tab_fluid {
	position: unset !important;
	margin: 12px auto 0;
    max-width: 229px;
}
.select_aparment_fluid #apartments_select_svg {
	width: 100vw;
}
.select_aparment_fluid #apartments_select_svg svg{
	width: 100%;
	margin-bottom: 10px;
}
.aparment_filter_fluid {
    padding: 21px 32px 10px 16px;
    margin-top: 10px;
        max-width: 400px;
    width: unset;
}
.filter_dropdowns {
	flex-wrap: wrap;

	&>div {
	max-width: 100%;
	flex:0 0 100%;
	margin-bottom: 10px;

	}
}
.apartments_filter_button {
	margin-top: 7px;
}
.aparment_filter_fluid .filter_sliders_fluid {
	flex-direction: column-reverse;
	align-items: center;


	&>div {
		    flex: 0 0 100%;
    max-width:100%;
    width: 100%;
	}
	&>div:first-child{
		margin:12px 0;
	}
}
.p-all {
    padding: 83px 0px 10px 5px;
}

.contact_title * {
    font-size: 44px;
}
.search_footer .apartment_filter_wrapper {
    margin: 5px 0px;
    padding-left: 8px;
    flex-grow: 1;
}


.home_dots {
    padding: 0.8em 4em 0.8em 2em;

}

.search_footer {
	flex-direction: column-reverse;
	margin-top: 10px;
}

.interior_inner_fluid .grid-item {

	    width: 30.5%;
}
.interior_inner_fluid .interior_masorny {
    margin-top: 10px;
}

.apartment_title h3 {
	font-size: 44px;
}
.faq-container .address-container .title {

    font-size: 44px;
    padding: 2px 0 10px;
}

	.container {
    max-width: 870px;

}

.contact-container .title {

	padding-bottom: 5px;
	font-size: 44px;
}


.gallery_wrapper {
	width: 98%;
	margin: 0 auto;
}
.apartemtn_left_svg {
    height: 370px;
}

.about-container .title {
	font-size: 45px;
}

.apartment_up_box {
	display: block;
	margin-top: 10px;
}


.pdf_link a {
	font-size: 13px;
}
.apartment_right_content .apartment_order_form > div {
    flex: 0 0 100%;
    max-width: 100%;
}
.apartment_up_box > div:first-child {
  
    max-width: 400px;
    margin: 0 auto;
}
.pdf_link{
	justify-content: center;
}

.apartment_up_box > div:last-child {
	margin-top: 15px;
}

.gallery_container .grid-item{
	width: 30%;
}
.common-w {
    padding: 10px 10px;
}
.similar_ap_container {
	padding: 0 5px;
}
.similar_aparment_fluid .similar_ap_title h3 {
	font-size: 38px;
}

#home_wrapper {
	padding-top: 80px;
}
.home_dots{
	display: none;
}


.common_tab_links,.floor_tabs_fluid {
	display: none;
}
.search_footer {

	.home_dots {
		display: block !important;
	}
}
.sold_fluid {
    padding: 3px 7px;
    }

.floor-container .apartment_container .floor-section .floor-image svg{
	width: 100% !important;
	height: auto;
}
.floor-container .apartment_container .floor-section .floor-info .floor-info-box{
	    padding: 20px 20px 0px 20px;
}

.floor-container .apartment_container .apartment_header {
	padding: 0 10px;
}

.floor-info {
 
  width: 100% !important;
  padding: 0 10px;
  transform:unset !important;
  position: relative !important;

  &:after{
  	position:absolute;
  	content: "";
  	bottom: 0;
  	left: 0;
  	background-color: #FFD493;
  	width: 100%;
  	height: 200%;
  	z-index: -1;
  }

  .floor-info-box {
    float: unset;
  }
}
.floor-container {
	background-color: #F4FAFA;
}

}



@media only screen and (max-width: 776px) {
.floor_image_wrapper {
	overflow: auto;
	position: relative;
	z-index: 1000;

	.floor-image:after{
			position:absolute;
  	content: "";
  	bottom: 0;
  	left: 0;
  	background-color: #FFD493;
  	width: 100%;
  	height: 70%;
  	z-index: -1;
	}

	


	&>div {
		width: 150vw !important;
	}
}

.floor_image_wrapper::-webkit-scrollbar {
  height: 10px;
}

.floor_image_wrapper::-webkit-scrollbar-track{
  background: #FFD493; 
}

.similar_ap_container {

		flex-wrap: wrap;

		&>div {
			max-width: 100%;
			flex:0 0 100%;
		}

}

.about-container .about-swiper-container .swiper-wrapper .swiper-slide img {
	height: 200px;
	object-fit: cover;
}

.about-container .about-swiper-container .swiper-wrapper .swiper-slide {
	opacity: 1;
}

#fullpage .offer-container h2 {
	font-size: 26px;
}
.offer-section {
    padding: 0px 10px 10px 10px;
}

.offer-section {
	flex-direction: column;
}
.offer_text_fluid .offer-title {
	margin-bottom: 5px;
}
.about-container {
	padding: 10px 0 10px;
}
.swiper_about_button-prev {
	display: none;
}

.offer_text_fluid .offer-title {
	font-size: 24px;
}

.offer-section .offer_text_fluid {
    background-color: #F4FAFA;
   padding: 15px 40px 15px 15px;
   transform: unset;

}
#fullpage .section:nth-child(odd) .offer_text_fluid {
	transform: unset;
}
#fullpage .section:nth-child(odd) .offer-section .offer-img{ 
order: unset;

 }
.offer-section .offer-img {

	flex: 0 0 95%;
	max-width: 95%;
	margin-top: 10px;
	 img {
	 	height: 200px !important;
	 }
}


.about_swipper_wrapper .swiper_about_button-next {
 
    width: 22.5%;
   
    opacity: 0.5;
    background: #fff;
}

.about-container .about-swiper-container {
	width: 100vw;
	transform:unset;
}
.about-container .about-content {
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    margin:0;

}

}

@media only screen and (min-width: 992px) {
.header_social.resp {
	display: none;
}
}



