.floor-container {
  padding: 100px 90px 60px 100px;
  position: relative;

   .floor_tabs_fluid{

    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #fff;
    .floor_arrow {

    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
     border: 1px solid #F1F3F7;

     img {
      height: 8px;
      object-fit: contain;
     }

     &.rot {
      transform: rotate(180deg);
     }
    }
   

      .floor_tabs_container {

          height: 300px;
          overflow:hidden;



          .floor_tabs {
            width: 50px;
            height: 50px;
            border: 1px solid #F1F3F7;
        
            transition: all .4s;

            &:hover {
              background:#F1F3F7;
            }

             a {

                @include family(notosans);
                color: #1E1E1E;
                font-size: 14px;
                
                width: 100%;
                height: 100%;
                    display: flex;
            align-items: center;
            justify-content: center;
             }
          }
      }
   }

  .apartment_container {
    position: relative;

    .apartment_header {
      display: flex;
      justify-content: space-between;
    }

    .common_tab_links {
      margin-top: 10px;
      a {
        @include family(notosans);
        color: #000000;
        font-size: 14px;
        position: relative;

        &:hover {
          text-decoration: underline;
        }

        &:not(:last-child) {
          margin-right: 20px;
          &:after {
            background-image: url(../images/right-arrow.png);
            content: '';
            position: absolute;
            top: 50%;
            right: -19px;
            transform: translateY(-50%);
            z-index: 10;
            width: 15px;
            height: 11px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }

    .common_tab_links {
      margin-top: 5px;
    }

    .apartment_title {
      h3 {
        font-size: 80px;
        @include family(noto);
        color: #2c3e50;
      }
    }

    .apartment_up_box {
      display: flex;
      width: 100%;
      & > div {
        &:first-child {
          flex: 0 0 45%;
          max-width: 45%;
        }

        &:last-child {
          flex-grow: 1;
        }
      }
    }

    .apartemtn_left_svg {
      height: calc(100vh - 300px);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .pdf_link {
      display: flex;
      a {
        display: flex;
        align-items: center;
        background-color: #f2f2f2;
        color: #1e1e1e;
        @include family(notosans);
        padding: 10px 20px;

        img {
          height: 29px;
          object-fit: contain;
          margin-right: 10px;
        }
      }
    }

    .apartment_up_box {
      margin-top: 50px;
    }

    .floor-section {
      display: flex;
      position: relative;
      margin-top: 90px;

      .floor-image {
        width: 65%;
        z-index: 10;

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .floor-info {
        color: #2c3e50;
        background: #ffd493;
        position: absolute;
        width: 60%;
        height: 90%;
        right: 0;
        transform: translate(-5%, -50px);

        .floor-info-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          float: right;
          padding: 60px;
          color: #2c3e50;

          .floor-type {
            font-size: 24px;
          }

          .building-type {
            padding: 15px 0 10px;
            border-bottom: 1px solid #2c3e50;

            span {
              padding-right: 25px;
            }

            img {
              width: 40px;
            }
          }

          .space {
            font-size: 40px;
            text-align: center;
            padding-top: 15px;
          }
        }
      }
    }

    .floor-apartment-tab {
      bottom: -30px;
      right: 40px;
      left: unset;
      position: absolute;

      .active {
        color: #f47d5d;
      }
    }

    .building-section {
      display: flex;
      justify-content: space-between;

      .building-img img {
        height: calc(100vh - 220px);
      }

      .building-info {
        width: 100%;
        position: relative;
        padding-bottom: 120px;

        .building-info-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          h4 {
            font-size: 60px;
            color: #2c3e50;
            @include family(noto);
          }

          .vacant-apartments {
            width: fit-content;
            margin-top: 50px;
            color: #707070;

            span {
              padding: 30px;
              border: 1px solid #707070;
              @include family(notosans);
            }

            span:first-child {
              margin-right: -5px;
            }
          }
        }
      }

      .building-apartment-tab {
        bottom: 30px;
        left: -50px;
        right: unset;
        position: absolute;

        .active {
          color: #f47d5d;
        }
      }
    }
  }
}

#map .title {
  font-size: 17px !important
}

#map {
  height: 350px;
  position: relative;


}
.map_fluid {
  position: relative;
  &:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 222;
    width: 85%;
    height: 10px;
    background-color: #FFD393;
    content: "";
  }
}

.building-container {
  padding: 100px 90px 0 100px;
  height: calc(100vh - 24px);
}

@media only screen and (max-width: 991px) {
  .floor-container {
    padding: 100px 15px;

    .apartment_container {
      .floor-apartment-tab {
        right: 0;
      }

      .apartment_header {
        flex-direction: column;

        .apartment_title {
          text-align: center;
          padding: 15px 0;

          h3 {
            font-size: 40px;
          }
        }
      }

      .floor-section {
        flex-direction: column;
        padding-bottom: 70px;
        margin-top: 40px;

        .floor-image {
          width: 100% !important;
        }

        .floor-info {
          position: unset !important;
          width: 100% !important;
          transform: unset !important;
          margin-top: 15px;

          .floor-info-box {
            float: unset;
          }
        }
      }

      .building-section {
        flex-direction: column-reverse;

        .building-img img {
          width: 100%;
          height: unset;
        }

        .building-info {
          padding-bottom: 170px;

          .building-info-box {
            margin-top: 20px;

            h4 {
              font-size: 35px;
            }
          }
        }

        .building-apartment-tab {
          left: 0;
        }
      }
    }
  }
}
.contact-container {
  width: 80%;
  margin: 80px auto;
  color: #2c3e50;
  padding: 15px;
  display: flex;

  .title {
    @include family(notoregular);
    font-size: 70px;
    color: #2c3e50;
    text-transform: capitalize;
    padding-bottom: 50px;
  }

  .address-container {
    width: 70%;

    .address-section {
      border-bottom: 1px solid #f2f2f2;

      .title-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        cursor: pointer;
        * {
          @include family(notosans);
        }
        .address-title {
          color: #2c3e50;
          font-size: 30px;
        }

        &:hover {
          .down-arrow {
            width: 22px;
            height: 22px;
            background: #2c3e50;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .rotate {
              transform: rotate(180deg);
            }

            &:before {
              position: absolute;
              top: -4px;
              left: -4px;
              border: 1px solid #2c3e50;
              content: '';
              z-index: 10;
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }

            svg {
              #left-arrow_1_ {
                fill: white;
              }
            }
          }
        }

        .rotate {
          transform: rotate(180deg);
        }

        .down-arrow {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          transition: 0.3s;

          svg {
            width: 11px;
            height: 11px;
          }
        }
      }

      .address-box {
        display: none;
        .address-info {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
          text-transform: capitalize;
          font-size: 16px;
          color: #1e1e1e;

          * {
            @include family(notosans);
          }

          a {
            color: #1e1e1e;
          }
        }
      }
    }
  }
  .map-container {
    width: 100%;
    padding-left: 35px;

    .form-container {
      width: 80%;
      margin: 30px auto;

      .form-title {
        h3 {
          color: #2c3e50;
          font-size: 30px;
          text-transform: capitalize;
          padding: 20px 0;
          @include family(notoregular);
        }
      }

      form {
        .def-input,
        textarea {
          width: 100%;
          border-bottom: 1px solid #5e5e5e;
          margin: 20px 0;

          input,textarea {
            color: #5e5e5e;
          padding: 10px;
          @include family(notosans);
            width: 100%;

            &::placeholder {

          @include family(notosans);
            }

            &::placeholder {
              color: #5e5e5e;
              text-transform: capitalize;
            }

            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }

        .d-flex {
          justify-content: space-between;

          .def-input {
            width: 48%;
          }
        }

        textarea {
          resize: none;
          height: 130px;
          text-transform: capitalize;
          color: #5e5e5e;
          margin-bottom: 40px;
          padding: 10px;
          @include family(notosans);

          &::placeholder{

          @include family(notosans);
          }
        }

        .main_link_box_fluid {
          float: right;
          margin-right: 20px;
        }
      }
    }
  }
}
.main_btn  {
  * {

  @include family(notosans);
  }
}

.faq-container {
  width: 90%;
  .address-container {
    margin: 0 auto;
    .title {
      text-align: center;
      font-size: 60px;
      padding: 30px 0 40px;
    }

    .address-title {
      @include family(notoregular);
    }
  }
}

.error-page {
  .error-page-text {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    * {
      @include family(notosans);
    }

    h3 {
      color: #292929;
      font-size: 30px;
      text-align: center;
      padding: 20px 0 15px;
      text-transform: capitalize;
    }

    p {
      color: #292929;
      font-size: 14px;
    }

    .home-page-button {
      margin-top: 50px;
      text-align: center;

      a {
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid #1e1e1e;
        padding: 15px 30px;
        color: #1e1e1e;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .contact-container {
    width: 85%;

    .address-container {
      width: 75%;

      .address-title {
        font-size: 25px !important;
        padding: 0 10px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .contact-container {
    flex-direction: column;

    .address-container {
      width: 100%;

      .title {
        font-size: 60px;
      }

      .address-title {
        font-size: 25px;
        padding: 0 10px;
      }
    }

    .map-container {
      width: 100%;
      padding-left: unset;
      margin-top: 30px;

      .form-container {
        width: 100%;

        .d-flex {
          flex-direction: column;

          .def-input {
            width: 100% !important;
          }
        }
      }
    }
  }

  .error-page {
    flex-direction: column;

    & > div:first-child {
      max-width: 100%;
    }

    .cd_section_left {
      align-items: center;
      transform: unset;

      h2 {
        font-size: 60px;
      }

      h3 {
        font-size: 25px;
      }
    }

    .Whitesails_main_img {
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact-container {
    width: 95%;

    .address-title {
      width: calc(100% - 25px);
    }
  }
}
body {
  background: #fff;
}

.news-container {
      padding: 75px 90px 60px 100px;
  background: #fff;
  color: #1e1e1e;


  .title {
    @include family(notoregular);
    font-size: 70px;
    color: #2c3e50;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
  }



  .main_btn:hover {
    color: #1e1e1e;
  }

  .news-section {
    display: flex;
    padding: 30px;
    border: 1px solid #d4eceb;

    margin: 12px;

    .news-img {
      width: 75%;

      img {
        width: 100%;
        max-height: 700px;
        transition: 0.3s;
        border: 4px solid transparent;

        &:hover {
          border: 4px solid #ffd392;
        }
      }
    }

    .news-info {
      width: 100%;
      padding: 30px 20px 10px;
          * {
               font-size: 16px;
            @include family(notosans);
          }
      .news-title {
        font-size: 24px;
        padding-bottom: 20px;

        a {
          color: #1e1e1e;
          font-size: 24px;
          @include family(notosans);

          &:hover {
            color: #1e1e1e;
          }
        }
      }

      span {
        padding-right: 15px;

        img {
          width: 30px;
        }
      }

      p {
        padding: 20px 0;
        padding-bottom: 30px;
        max-height: 90px;
        overflow: hidden;
      }
    }
  }

  .news-grid {
    .col-lg-4 {
      padding-right: 8px !important;
      padding-left: 8px !important;
    }
    .news-box {
      padding: 30px 0;
      border-bottom: 1px solid #f2f2f2;

      .news-box-title {
        padding: 4px;
        text-align: center;
        max-height: 80px;
        overflow: hidden;

        a {
          color: #1e1e1e;
          padding: 4px;
        }

        * {
          @include family(notosans)
        }
      }

      .news-box-img {
        position: relative;
        transition: 0.3s;
        border: 4px solid transparent;
        height: 70%;
        overflow: hidden;

        a {
          img {
            width: 100%;
            max-height: 500px;
            height: 100%;
            object-fit: cover;
          }
        }

        .news-date {
          position: absolute;
          bottom: 0px;
          background: #ffd392;
          padding: 6px 15px 4px 6px;
          display: none;

          img {
            width: 30px;
            margin: 0 8px;
            padding-bottom: 3px;
          }
        }
      }

      &:hover {
        border-bottom: 1px solid #ffd392;

        .news-box-img {
          border: 4px solid #ffd392;

          .news-date {
            display: block;
          }
        }
      }
    }

    .see-more {
      text-align: center;
      margin-top: 50px;

      img {
        width: 30px;
        margin: 15px;
      }
      * {
        @include family(notosans);
        color: #1E1E1E;
      }
      span {
        margin: 70px;
      }

      a {
        padding: 16px;
        background: #f2f2f2;
        text-transform: capitalize;
      }
    }
  }
}

.news-page-container {
  width: 65%;
  margin: 120px auto 60px;
  background: white;
  color: #1e1e1e;

  .main-img {
    width: 100%;

    img {
      width: 100%;
      max-height: 750px;
    }
  }

  p,span {

  }

  .main-title {
    display: flex;
    align-items: center;

    span {
      padding: 35px;
    }

    h2 {
      padding: 40px 10px;
      font-size: 24px;
      line-height: 35px;
      @include family(notoregular);
    }
  }
.news-navigation {


     span,p{
    @include family(notosans);
    font-size: 16px;
    color: #1E1E1E;
  }
}
  .news-text {

     span,p{
    @include family(notosans);
    font-size: 16px;
    color: #1E1E1E;
  }
    .d-flex {
      padding-bottom: 20px;

      .d-flex-img {
        width: 80%;

        img {
          width: 100%;
          max-height: 750px;
        }
      }

      p {
        padding-left: 15px;
        width: 100%;
      }
    }

    .news-gallery {
      margin: 15px 0 20px;
      img {
        width: 100%;
        max-height: 350px;
        padding-bottom: 10px;
      }
    }
  }

  .news-navigation {
    display: flex;
    margin-top: 50px;

    .news-nav-right {
      text-align: right;

      .main_btn:hover {
        color: #1e1e1e;
      }

      width: 50%;

      .main_link_box_fluid {
        margin-right: 8px;
      }
    }

    .news-nav-left {
      width: 50%;

      .main_link_box_fluid {
        margin-left: 8px;
        &:hover {
          .main_btn_arrow {
            left: -11%;
          }
        }
      }
      .main_btn {
        padding: 7px 18px 7px 35px;
        &:hover {
          color: #1e1e1e;
        }
      }
      .main_btn_arrow {
        position: absolute;
        top: 34%;
        left: -9%;
        z-index: 4;
        transition: all 0.3s;
        cursor: pointer;
        transform: rotate(180deg);

        &:hover {
          left: -11%;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .news-page-container {
    width: 80%;

    .d-flex {
      flex-direction: column;

      .d-flex-img {
        width: 100% !important;
        padding: 10px 0;
      }
    }
  }

  .news-container .news-grid .news-box .news-box-img .news-date {
    display: block;
  }

  .news-container {
    width: 100%;

    .news-section {
      flex-direction: column;

      .news-img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .news-page-container {
    width: 90%;

    .main-title {
      align-items: unset;
      flex-direction: column;

      h2 {
        padding: 0 0 20px;
      }

      span {
        padding: 15px 0 0;
      }
    }

    .news-nav-left {
      padding-right: 15px;
    }

    .news-nav-right {
      padding-left: 15px;
    }
  }

  .news-container {
    width: 100%;

    .news-section {
      padding: unset;
    }

    .news-grid {
      .news-box {
        margin-bottom: 20px;
        height: auto;

        .news-box-img {
          img {
            max-height: 350px;
            height: auto;
            object-fit: cover;
          }
        }
      }

      .see-more {
        a {
          padding: 10px;
          background: #f2f2f2;
          text-transform: capitalize;

          img {
            width: 25px;
          }

          span {
            margin: 15px;
          }
        }
      }
    }
  }
}



.addres_fluid {

  .address-section:first-child{

    .address-box {

    display:block;
    }
  }
}

.iScrollVerticalScrollbar {
  right: 0px !important;
}