

.building_a {

		.disable {

	 	fill: transparent;
			
		}
	 .st0,.floor_plan {
	 	fill: transparent;
	 	transition: all .4s;
	 		opacity: 0.8;


	 	&:hover{
	 		fill:#73CABE;
	 	}
	 }
}


.common_building {

	.st_common {
		opacity: 0.8;
		fill: transparent;
	}
}